@import "~src/scss/variables";

aside {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        a {
            background-color: rgba($color: $light-color, $alpha: 0.5);
            padding: 4px 6px;
            font-size: 14px;
            border-radius: 4px;
            text-decoration: none;
            color: $muted-color;
            cursor: pointer;

            &:hover {
                background-color: $secondary-color;
                color: white;
            }
        }

        .active {
            background-color: $secondary-color;
            color: white;
        }
    }
}
