@import "~src/scss/variables";

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 8px;

    a {
        text-decoration: none;
        color: $light-color;
        cursor: pointer;

        &:hover {
            color: $primary-color;
        }

        &:active {
            transform: scale(0.96);
        }
    }

    .active {
        color: $primary-color;
    }
}
